main {
  border: 1px solid black;
  position: relative;
  margin: auto;
}

.ball {
  height: 50px;
  width: 50px;
  position: absolute;
  background-color: goldenrod;
  border: 3px solid chocolate;
}

.brick {
  position: absolute;
  background-color: rgb(139, 79, 57);
  border: 5px dotted gray;
  margin: 5px;
  border-radius: 3px;
}

.paddle {
  position: absolute;
  background-color: chocolate;
  border-radius: 5px;
}
